body {
  text-align: center;
}
div {
  height: 200px;
  width: 200px;
  display: inline-block;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

p {
  width: 10%;
  margin: 0 auto 0 auto;
}
